@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color:hsl(212, 45%, 89%);
    margin: 0;
}
.block{
    width: 350px;
    height: 550px;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-style: unset; 
}

.block img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.block h2{
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
}

.block p{
    font-family:'Outfit', sans-serif ;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: grey;
}